
@font-face {
    font-family: 'Quicksand-Light';
    src: url('assets/fonts/Quicksand-Light.woff2') format('woff2'),
      url('assets/fonts/Quicksand-Light.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand-Medium';
    src: url('assets/fonts/Quicksand-Medium.woff2') format('woff2'),
      url('assets/fonts/Quicksand-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: 'Quicksand-Medium', sans-serif;
}
.background{
    position: relative;
    background:#13005A;
}
.circle{
    position: absolute;
    background: #03C988; 
    clip-path: circle(70% at right -20%);
}
.button{
    position: relatives;
    color: #13005A;
    width: 70px;
    height: 40px;
    background: transparent;
    text-decoration: none;
    border: none;
    font-size: 20px;
    cursor:pointer;
}
.button:after{
    content: '';
    height: 2.2px;
    width: 0%;
    background-color: #13005A;
    display: block;
    transition: .4s ease-in-out;
}
.button:hover::after{
    content: '';
    height: 2.1px;
    width: 100%;
    background-color: #13005A;
    display: block;
}

.header{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}
.navigation{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
}
.logo{
    color:#03C988;
    font-weight: 500;
    font-size: 35px;
    margin-left: 50px;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.description{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    font-size: 20px;
    max-width: 700px;
    margin-left: 50px;
   
}
.slider{

}