*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'QuickSand', sans-serif;
    font-size: 16px;
}
body { min-height: 100vh; }
@font-face {
    font-family: 'QuickSand';
    src:  url('./assets/fonts/Quicksand-Light.woff2') format('woff2'),
          url('./assets/fonts/Quicksand-Light.woff') format('woff');
}
#content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*** Home Page Styling ***/
.home-background{
    background-position: center;
    background-size: cover;
    background-image: url('./assets/pictures/sushi-house.jpg');
}
.logo img{
    height: 80px;
}
.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: rgb(0, 0, 0);
    padding: 40px;
    opacity: 95%;
    box-shadow: 0px 15px 10px -18px #fff9f9;    
    
}
.navigation{
    display: flex;
    gap: 80px;
    
}
.home-button, .menu-button, .contact-button{
    font-size: 2rem;
    font-weight: bolder;
    background-color: transparent;
    color: white;
    border: none;
    transition:.2s ease-in-out;
}
.home-button:hover, .menu-button:hover, .contact-button:hover{
    color: rgb(255, 94, 94);
    cursor: pointer;
    scale: (0.95);
}
.home-content, .contact-background {
    max-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-box, .contact-box{
    background-color: rgb(34, 34, 34);
    opacity: 98%;
    width: 900px;
    height: 700px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 94, 94);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.swiper-container{
    max-width: 90%;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 0;
    overflow: hidden;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    max-width: 300px;
    height: 300px;
    margin: 0 20px 0 20px;
}
.swiper-slide img{
    width: 300px;
    height: 300px;
    border: 2px solid white;
    border-radius: 4%;
}
.home-slogan{
    font-style: italic;
    color: rgb(255, 94, 94);
    font-weight:800;
    font-size: 2rem;
}
.home-info{
    color: white;
    font-weight:500;
    font-size: 1.6rem;
    padding: 20px;
    width: 800px;
    text-align: justify;
    text-justify: inter-word;
}
.footer{
    height: 50px;
    background-color: rgb(0, 0, 0);
    opacity: 95%;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 15px 10px 8px #fff9f9;
}
.footer-content{
    color: rgb(255, 94, 94);
    font-size: 1.1rem;
    font-weight: bold;
}
.github-logo{
    height: 28px;
    transition:.5s ease-in-out;
}
.github-logo:hover{
    transform: scale(1.2);
    rotate: 1turn;
}
.menu-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.menu-box{
    background-color: rgb(34, 34, 34);
    opacity: 98%;
    width: 1000px;
    height: 100%;
    border-left: 1px solid rgb(255, 94, 94);
    border-right: 1px solid rgb(255, 94, 94);
}
.menu-item{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px;

}
.menu-img img{
    width: 250px;
    height: 250px;
    border: 2px solid white;
    border-radius: 4%;
}

.menu-info, .contact-detail{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: justify;
    text-justify: inter-word;
}
.menu-text{
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.menu-title, .contact-title{
    color: rgb(255, 94, 94);
    font-size: 1.5rem;
    font-weight: bolder;
}
.contact-content{
    display: flex;
    align-items: center;
    gap: 40px;

}
.contact-content img{
    height: 500px;
    border-radius: 3%;
}
.contact-text{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.contact-detail{
    white-space: pre;
    line-height:  1.8;
}